
<h1>My cocktails</h1>

<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else myCocktailsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #myCocktailsArea>
  <div *ngFor="let cocktail of cocktails | async" style="margin-bottom: 20px">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>{{ cocktail.tag }}</mat-card-title>
        <mat-card-content>
          <div *ngFor="let ing of cocktail.ingredients">
            <p>{{ing.ingName}} - {{ing.ingAmmount}}</p>
          </div>
        </mat-card-content>
        <img mat-card-lg-image [src]="cocktail.image | image" [alt]="cocktail.tag">
      </mat-card-title-group>
      <mat-card-content>
        {{ cocktail.recipe }}
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
