<h1>Your cocktail</h1>

<div class="error" *ngIf="error | async">
  {{error | async}}
</div>

<mat-progress-spinner
  *ngIf="loading | async else cocktailArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #cocktailArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"

    >
      <mat-card>
        <div *appHasRoles="['admin']">
          <button
            type="submit"
            mat-raised-button
            color="outlined"
            (click)="onPublishCocktail(cocktailId._id)"
            routerLink="/"
            *appHasRoles="['admin']"
          >
            {{ (cocktailId.isPublished === false) ? 'Published': ' ' }}
          </button>&nbsp;
          <button
            type="submit"
            mat-raised-button
            color="primary"
            (click)="onDelete(cocktailId._id)"
            *appHasRoles="['admin']"
          > {{ (cocktailId.isPublished === false) ? 'Not published': ' ' }}
          </button>
        </div>
        <img
          [src]="cocktailId.image | image"
          [alt]="'Photo of ' + cocktailId.tag"
          mat-card-image
        />
        <mat-card-title> {{ cocktailId.tag }}</mat-card-title>
        <mat-card-subtitle>{{cocktailId.recipe }}</mat-card-subtitle>
        <mat-card-content>
          <div *ngFor="let ing of cocktailId.ingredients">
            <p>{{ing.ingName}}</p>
            <p>{{ing.ingAmmount}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
