<script src="../../models/cocktail.model.ts"></script><h1>New cocktail</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{error | async}}
    </div>

    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="addForm"
      fxLayout="column"
    >
      <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            type="text"
            name="tag"
            formControlName="tag"
            id="tag"
            required
            matInput
          />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input
          formControlName="image"
          id="image"
          name="image"
        ></app-file-input>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-group">
        <mat-label>Recipe</mat-label>
        <input
          type="text"
          formControlName="recipe"
          id="recipe"
          required
          name="recipe"
          matInput
        />
      </mat-form-field>

        <div
          class="form-group"
          formArrayName="ingredients"
        >
          <button
            type="button"
            mat-raised-button
            class="mat-select"
            (click)="addIngs()"
          >Add ingredients
          </button>

          <div *ngFor="let _ of getIngControlls(); let i = index">
            <div [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>IngName</mat-label>
                <input
                  type="text"
                  formControlName="ingName"
                  id="ingName"
                  name="ingName"
                  required
                  matInput
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>IngAmount</mat-label>
                <input
                  type="text"
                  formControlName="ingAmmount"
                  id="ingAmmount"
                  name="ingAmmount"
                  required
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="addForm.invalid || (loading | async)"
          >SAVE
          </button>
        </div>
    </form>
  </mat-card-content>
</mat-card>
