<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Cocktails</h1>
  <a [routerLink]="['/userCocktails', (user | async)?._id]" mat-button *appHasRoles="['user', 'admin']">MY COCKTAIL's</a>
  <a routerLink="/new-cocktails" mat-button *appHasRoles="['admin', 'user']">MADE NEW COCKTAIL</a>
</div>

<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else cocktailsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #cocktailsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let cocktail of cocktails | async"
    >
      <mat-card>
        <mat-card-title>{{ cocktail.tag }}</mat-card-title>
        <img
          [src]="cocktail.image | image"
          [alt]="'Photo of ' + cocktail.tag"
          mat-card-image-md
        />
<!--        <mat-card-content>-->
<!--          <p>{{ cocktail.recipe }}</p>-->
<!--        </mat-card-content>-->
<!--        <mat-divider></mat-divider>-->
<!--        <mat-card-content>-->
<!--          <div *ngFor="let ing of cocktail.ingredients">-->
<!--            <p>{{ing.ingName}} {{ing.ingAmmount}}</p>-->

<!--          </div>-->
<!--        </mat-card-content>-->
        <mat-card-actions>
          <a
            [routerLink]="['/cocktail', cocktail._id]"
            mat-button
          >VIEW</a>&nbsp;
          <button
            type="submit"
            mat-raised-button
            color="outlined"
            (click)="onPublishCocktail(cocktail._id)"
            routerLink="/"
            *appHasRoles="['admin']"
          >
            Publish cocktail?
          </button>&nbsp;
          <button
            type="submit"
            mat-raised-button
            color="primary"
            (click)="onDelete(cocktail._id)"
            *appHasRoles="['admin']"
          >Delete cocktail?
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


</ng-template>
